<!DOCTYPE html>
<html lang="en">
<head>
<title>exp 8.</title>
<script src="angular.min.js"></script>
<script src="record.js"></script>
</head>

<body ng-app="exp" ng-controller="mycontroller">
<table border="1" align="center">
<th>Data</th>
<th>Description</th>
<div>
<tr>
<td>First name</td>
<td><input type="text" name="fname" ng-model="fname"></td>
</tr>
<tr>
<td>last name</td>
<td><input type="text" name="lname" ng-model="lname"></td>
</tr>
<tr>
<td>full name</td>
<td><input type="text" name="fullname" ng-model="fullname ()"></td>
</tr>
<tr>
<td></td>
<td>
<table border="1" align="center">
<th>Subject</th>
<th>Mark-UT-1</th>
<th>Mark-UT-2</th>
<th>Total</th>
<tr>

Experiment by Yash Patole

<td>IP</td>
<td><input type="number" name="ut1_u1" ng-model="ut1_u1"></td>
<td><input type="number" name="ut1_u2" ng-model="ut1_u2"></td>
<td><input type="number" name="totalmarksut1"

ng-model="totalmarksut1()"></td>

</tr>
<tr>
<td>Web x.o</td>
<td><input type="number" name="ut2_u1" ng-model="ut2_u1"></td>
<td><input type="number" name="ut2_u2" ng-model="ut2_u2"></td>
<td><input type="number" name="totalmarksut2"

ng-model="totalmarksut2()"></td>

</tr>
</table>
</td>
</tr>
</table>
</div>
</body>
</body>
</html>